
    <form [formGroup]="addCourseForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" type="text" >
        @if (addCourseForm.get('title')?.invalid && addCourseForm.get('title')?.touched)
        {
        <mat-error>
          title is required and must be valid.
        </mat-error>
        }
  
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" type="text">
        @if(addCourseForm.get('description')?.invalid && addCourseForm.get('description')?.touched)
        { <mat-error>
          description is required 
        </mat-error>}
      </mat-form-field>
  
      <button mat-raised-button class="submit-button" type="submit" [disabled]="addCourseForm.invalid">Save Changes</button>
    </form>

