.course-container {
    display: flex;
    width: 100%;
}

.course-list {
    flex: 3; 
    padding: 10px; 
}

.router-outlet-container {
    flex: 1; 
    padding: 10px; 
    border-left: 1px solid #ccc; 
}
button{
    margin: 0.25em;
}
.course-link {
    color: #d2194d; 
    text-decoration: none; 
    cursor: pointer; 
    font-weight: bold; 
}

.course-link:hover {
    text-decoration: underline; 
    color: #a10d57; 
}